**/Proyectos/proyecto2/compiler/.vscode/
**/Proyectos/proyecto2/.vscode/
**/Proyectos/proyecto2/V1/compiler/.vscode/
**/Proyectos/proyecto2/V1/.vscode/
**/Proyectos/proyecto2/V2/compiler/.vscode/
**/Proyectos/proyecto2/V2/.vscode/
